body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}

header{
  color:#f4f4f4;
  font-family: "Open Sans";
}

.header-name{
  padding-top: 30px;
  font-size: 14px;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  color:#f4f4f4;
  border: solid 1px;
  border-radius: 3px;
  padding: 5px 5px;
}

.availability{
  font-size: 10px;
  /* border: #f4f4f4 1px solid; */
  padding: 5px 0;
}

.green-color {
  color:green;
  padding-right: 3px;
  }

.sort-down {
  padding-left: 3px;
}