body{
	padding: 0;
	margin: auto;
	background:#f4f4f4;
  max-width: 500px;
}

header{
  color:#f4f4f4;
  font-family: "Open Sans";
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  color:#f4f4f4;
}

.green-color {
  color:green;
}

.progress {
  height: 10px;
}

.circle {
  width: 70px;
	height: 70px;
  border-radius: 50%;
	background: rgba(235, 235, 235, 1.5);
}

.border-dashed-bottom{
  border-bottom-style: dashed;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
}

.border-dashed-right{
  border-right-style: dashed;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
}

.circle-bronze {
  width: 70px;
	height: 70px;
  border: 5px;
  border-radius: 50%;

  border-color: rgb(138, 78, 0);
  
  background: rgb(255, 255, 255);

}

.circle-silver {
  width: 70px;
	height: 70px;
  border-radius: 50%;
  border-color: rgb(205, 215, 228);
	background: rgb(255, 255, 255);
}

.circle-gold {
  width: 70px;
	height: 70px;
  border-radius: 50%;
  border-color: rgb(255, 204, 94);
	background: rgb(255, 255, 255);
}