body{
	padding: 0;
	margin: auto;
	background:#f4f4f4;
  max-width: 500px;
}

header{
  color:#f4f4f4;
  font-family: "Open Sans";
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  color:#f4f4f4;
}

.green-color {
  color:green;
  }

.progress {
  height: 10px;
}

.circle {
  width: 70px;
	height: 70px;
  border-radius: 50%;
	background: rgba(235, 235, 235, 1.5);
}